.contenedor__proyectos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.proyectos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.proyectos img {
  width: 30%;
  height: 40%;
  border-radius: 10px 10px 0px 0px;
}

.contenedor__item__proyecto {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 520px;
  background-color: #35374a;
  border: 1px solid #444;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.informacion_proyecto {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
  gap: 1em;
  padding: 1.5em;
}

.contenedor__item__proyecto img {
  width: 100%;
}

.contenedor__tecnologias {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.contenedor__tecnologias a {
  width: auto;
  display: flex;
  gap: 0.5em;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
  background-color: #2a2d45;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.8em;
  cursor: none;
}

.bx,
.bxl-react {
  font-size: 1.5em;
}

.contenedor__boton {
  padding: 0em 1.5em 1.5em;
  display: flex;
  gap: 1em;

}

.contenedor__boton img {
  width: 22px;
  height: 22px;
}

.ver-proyecto {
  display: flex;
  gap: 0.5em;
  width: auto;
  text-decoration: none;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #5d3a9b;
  border-radius: 3.125rem;
  font-family: "Poppins";
  font-size: 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.ver-proyecto:hover {
  width: auto;
  text-decoration: none;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #552d99;
  border-radius: 3.125rem;
  font-family: "Poppins";
  font-size: 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.8s eas;
}

@media (max-width: 768px) {
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
