<section class="contacto">
  <div><h2>Contacto</h2></div>
  <div class="contenedor__form" id="contacto">
    <form>
      <div class="campos">
        <label for="nombreusuario"
          ><i class="bx bx-user" style="color: white"></i>Nombre
          completo</label
        >
        <input
          type="text"
          name="nombrecompleto"
          id="nombrecompleto"
          placeholder="Nombre completo"
        />
      </div>
      <div class="campos">
        <label for="email"
          ><i class="bx bx-envelope" style="color: white"></i>Email</label
        >
        <input type="email" name="email" id="email" placeholder="Email" />
      </div>
      <div class="campos">
        <label for="comentarios"
          ><i class="bx bx-message-detail" style="color: white"></i
          >Mensaje</label
        >
        <input type="text" id="comentarios" placeholder="Mensaje" />
      </div>
      <div class="contenedor__botones">
        <button type="reset" class="botonPrimario">Reset</button>
        <button type="submit" class="botonPrimario">Enviar</button>
      </div>
    </form>
  </div>
</section>
