<header>
  <div class="navbar text-white flex lg:justify-center">
    <div class="">
      <div class="dropdown">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost lg:hidden"
          aria-label="Toggle navigation menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-gray-600 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          <li><a class="hover:text-yellow-300" href="#inicio">Inicio</a></li>
          <li>
            <a class="hover:text-yellow-300" href="#acerca">Sobre mí</a>
          </li>
          <li>
            <a class="hover:text-yellow-300" href="#proyectos">Proyectos</a>
          </li>
          <li><a class="hover:text-yellow-300" href="#footer">Contacto</a></li>
        </ul>
      </div>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a class="hover:text-yellow-300" href="#inicio">Inicio</a></li>
        <li>
          <a class="hover:text-yellow-300" href="#acerca">Sobre mí</a>
        </li>
        <li>
          <a class="hover:text-yellow-300" href="#proyectos">Proyectos</a>
        </li>
        <li><a class="hover:text-yellow-300" href="#footer">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>
