<footer class="dark:bg-gray-900" id="footer">
  <div class="mx-auto w-full max-w-screen-xl">
    <div
      class="px-4 py-6 md:flex md:flex-row md:items-center md:justify-between lg:flex lg:flex-row lg:items-center lg:justify-between flex flex-col justify-center"
    >
      <span class="text-sm text-white dark:text-gray-300 sm:text-center"
        >© 2024 Leydi Madrid, Desarrollado con 💜
      </span>
      <div
        class="flex mt-4 justify-center md:mt-0 space-x-5 rtl:space-x-reverse"
      >
        <a
          href="https://www.linkedin.com/in/leydimadrid/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-white dark:hover:text-white"
          aria-label="LinkedIn"
        >
          <i class="bx bxl-linkedin-square text-xl"></i>
          <span class="sr-only">LinkedIn page</span>
        </a>
        <a
          href="https://github.com/leydimadrid"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-white dark:hover:text-white"
          aria-label="GitHub"
        >
          <i class="bx bxl-github text-xl"></i>
          <span class="sr-only">GitHUb</span>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=3218420450&text=%C2%A1Hola!%20Leydi%F0%9F%98%80%20Necesito%20%20tus%20servicios%20en"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-white dark:hover:text-white"
          aria-label="Whatsapp"
        >
          <i class="bx bxl-whatsapp text-xl"></i>
          <span class="sr-only">Whatsapp</span>
        </a>
        <a
          href="https://www.behance.net/leydijohana"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-white dark:hover:text-white"
          aria-label="Behance"
        >
          <i class="bx bxl-behance text-xl"></i>
          <span class="sr-only">Behance</span>
        </a>
      </div>
    </div>
  </div>
</footer>
